<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycom.myapp.schedules.dao.ScheduleDao">
	<insert id="insertSchedule" parameterType="com.mycom.myapp.schedules.dto.ScheduleDto"
			useGeneratedKeys="true" keyProperty="scheduleId">
		INSERT INTO schedule(user_id, event_id, start_time, end_time)
		VALUES (#{userId}, #{eventId}, #{startTime}, #{endTime})			
	</insert>
</mapper>
